body {
    background-image: url("bg.gif");
}

#everything {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rgba(255,255,255,0.8);
}

h1, h3, h4, p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#imgToEvaluate {
    width: 40%;
    height: auto;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

form {
    text-align: center;
}

#tryAgainButtonDiv {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#tryAgainButton {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
